@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "mosk";
  src: url("/font/mosk/Mosk Normal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "mosk";
  src: url("/font/mosk/Mosk Bold 700.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* @font-face {
  font-family: "Cascadia Code";
  src: url("/font/Cascadia Code/CascadiaCode.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
@font-face {
  font-family: "Fira Code";
  src: url("/font/Fira Code/FiraCode-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #f7f7f7;
  --foreground-rgb: #f7f7f7;
  --background-start-rgb: #f7f7f7;
  --background-end-rgb: #3e3e3e;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body {
  padding: 0;
  margin: 0;
  line-height: inherit;
}